@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.nav{
  background-color: #519872; 
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 5px
}
.navLeft{
  color: white;
  display: flex;
  align-items: center
}
/* in the image one of the dashboard add an input for alt description 
then have that added as the alt tag */
.imgThumb{
  height: 150px;
  width: 150px;
  object-fit: contain
}